.root {
    position: relative;


}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;

    border-radius: 10px;
    font-size: 16px;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.icon {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}