@import '../../scss/variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  box-shadow: 0px 3px 20px 0px #e7e6e6;
  

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    align-items: center;



  }

  &__title {

    @media(max-width: 740px) {

      h1 {
        font-size: 36px;
      }
    }

    @media(max-width: 560px) {

      h1 {
        font-size: 24px;
      }

    }


  }

  &__logo-img {
    color: #353332;
    margin-right: 15px;
    font-size: 68px;

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

    }

    p {
      color: #7b7b7b;
    }
  }
}