@import './variables';
@import '../libs/normalize';

@import './all';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff ;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media(max-width: 650px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}

.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
    font-weight: 800;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;

    @media(max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 740px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 1360px) {
      flex-direction: column;

      .categories {
        margin: 0 auto;
        width: 100%;
        overflow: scroll;
        margin-bottom: 30px;

        ul {
          width: 785px;
          margin: 0 auto;
        }
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 20px auto;
    padding: 15px;

    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        strokeWidth: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;

    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 5px;
      color: #b6b6b6;
      font-size: 18px;
      text-align: center;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }

      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  .content__items {
    display: block;
  }

  &__item {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    }

    &-left {
      display: flex;
      gap: 30px;
      max-width: 400px;

      @media (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 200px;
      }

    }

    &-img {
      display: flex;
      align-items: center;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 300px;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;

        @media (max-width: 700px) {
          font-size: 16px;
          text-align: center;
        }
      }

      p {
        font-size: 18px;
        color: #8d8d8d;

        @media (max-width: 700px) {
          font-size: 16px;
          text-align: center;
        }
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      gap: 10px;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      width: 100px;
      justify-content: center;

      @media (max-width: 760px) {}

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;


      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;

        }

        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;
      gap: 5px;

      span {
        font-size: 22px;

        @media (max-width: 550px) {
          text-align: center;
          font-size: 16px;
        }

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      gap: 10px;

      @media (max-width: 690px) {
        flex-direction: column-reverse;
      }

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;

        border-color: darken($color: $gray-line, $amount: 10);

        @media (max-width: 690px) {
          width: 100%;
        }

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;

        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;

          path {
            fill: transparent;
            strokeWidth: 2;
          }
        }
      }

      .pay-btn {
        font-size: 22px;
        font-weight: 600;
        width: 300px;
        padding: 10px;

        @media (max-width: 690px) {
          width: 100%;
        }
      }
    }
  }

  &--image {
    max-width: 250px;
    margin: 45px auto 60px;

    img {
      width: 100%;
    }
  }



  &--empty {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
      line-height: 40px;
    }



    icon {
      position: relative;
      top: 2px;
    }



    .button--black {
      padding: 12px 15px 14px;

      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}